.buttons__button {
    border: none;
    background-color: transparent;
    color: teal;
    font-size: 15px;
    padding-left: 0px;
    margin: 0 0 0 20px;
    transition: 1s;
}

.buttons__button:hover {
    color: hsl(180, 100%, 30%);
}

.buttons__button:active {
    color: hsl(180, 100%, 35%);
}

.buttons__button:disabled {
    color: lightgrey;
}

@media (max-width: 767px) {
    .buttons__button {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-top: 15px;
        width: 100%;
    }
}